body {
    color: #ffffff;
    background-color: #333333;
    font-size: 16px;
}

.copyright {
    font: 0.8em serif;
}
.flexContainerHead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*background-color: lightgrey;*/
}
.flexItemHead {
    padding: 5px;
    margin: auto;
    /*background-color: cornflowerblue;*/
}

.button{
    color: #000000;
    background-color: #CCCCC6;
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:active {
    background-color: #98C6EA;
}

.jxgBoxBorder {
    border: 1px solid #ffffff;
}

.highlight1 {
    color: #e37222;
}
.highlight2 {
    color: #3070b3;
}
.highlight3 {
    color: #a2ad00;
}
